/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Image styling */
.img-diibad, .img-done, .img-dtwo {
    width: 100%;
    padding: 20px 0;
}

/* Ensure .img-diibad is initially hidden on small screens */
.img-diibad {
    display: none;
}

/* Text styling */
.img-diibad h2 {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.img-diibad p {
    padding: 0px 30px 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

/* Make images responsive */
@media only screen and (min-width: 768px) {
    .img-diibad {
        display: block;
        width: 100%;
        padding: 30px;
    }
}